html,
body {
  background: #000;
  border: 0;
  color: #0f0;
  font: 16px 'Input', monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  box-sizing: border-box;
  padding: 48px;
}

*::-webkit-scrollbar {
  display: none;
}

.servers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.servers h2 {
  grid-column: 1 / -1;
}

.server.no-root-access {
  opacity: 0.5;
  pointer-events: none;
}

.server {
  border: 1px #333 solid;
  box-sizing: border-box;
  padding: 16px;
}

.server textarea {
  width: 100%;
  border: 0;
  font: inherit;
  color: inherit;
  background-color: inherit;
}

.headers {
  font-weight: bold;
}

.headers div {
  cursor: pointer;
}

.hackable-server {
  display: flex;
  gap: 16px;
}

.hackable-server div:nth-of-type(1) {
  width: 160px;
}

.hackable-server div:nth-of-type(2) {
  text-align: right;
  width: 300px;
}

.hackable-server div:nth-of-type(3),
.hackable-server div:nth-of-type(4),
.hackable-server div:nth-of-type(5),
.hackable-server div:nth-of-type(6) {
  text-align: right;
  width: 180px;
}

.hackable-server div:nth-of-type(7) {
  text-align: right;
  width: 180px;
}
